@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --progress-color: #ffffff;
}

@media (prefers-color-scheme: white) {
  :root {
    --progress-color: #000;
  }
}

body {
  font-family: "InterMedium", sans-serif;
}

.active {
  width: 50px;
  border-radius: 10px;
}
.community-animate {
  animation-delay: 2s !important;
}

.button-border {
  border: 1px solid;
  border-image-source: radial-gradient(
    50% 928.6% at 50% 50%,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
