@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --progress-color: #ffffff;
}

@media (prefers-color-scheme: white) {
  :root {
    --progress-color: #000;
  }
}

body {
  font-family: "InterMedium", sans-serif;
}

.nav-links {
  @apply fixed right-0 top-0 flex h-full w-52 flex-col space-y-8 bg-white p-8;
}

.nav-links__animate-in {
  transform: translateX(100%);
  animation: slidein-right 0.5s ease forwards;
}

.nav-links__animate-out {
  animation: slideout-right 0.5s ease forwards;
}

.active {
  width: 50px;
  border-radius: 10px;
}
.community-animate {
  animation-delay: 2s !important;
}

.button-border {
  border: 1px solid;
  border-image-source: radial-gradient(
    50% 928.6% at 50% 50%,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
